<header>
    <div class="header-container">
        <a href="index.html">
            <img src="assets/img/logo.png" alt="Monolito Ingeniería - Consultores en diseño estructural CDMX" class="logo">
        </a>
        <button class="menu-toggle" id="menu-toggle">
            <i class="fas fa-bars"></i>
        </button>
        <nav id="main-nav">
            <a href="index.html">Inicio</a>
            <a href="servicios.html">Servicios</a>
            <a href="equipo.html">Equipo</a>
            <a href="casos.html">Casos de éxito</a>
            <a href="equipo.html">Equipo</a>
            <a href="contacto.html">Contacto</a>
        </nav>
    </div>
</header>