<footer>
  <div class="footer-slogan">
    <a href="index.html">
    <picture>
      <source srcset="img/logo-blanco.webp" type="image/webp">
      <img src="/img/logo-blanco.png" alt="Logo Monolito" width="40" loading="lazy" height="40">
    </picture>
    </a>
    <p><i>"En Monolito Ingeniería, transformamos cálculos en soluciones seguras...<br>porque tu tranquilidad no se negocia."</i></p>
  </div>
  
  <div class="footer-bottom">
    <div class="footer-info">
      <p>Monolito Ingeniería S.A. de C.V.</p>
      <p>Av. Pedro Henríquez Ureña 275</p><p></p> Col. Pedregal de Santo Domingo</p><p> Coyoacán, Ciudad de México</p>
      <p>Tel: 56 4393 9397 | email: <a href="mailto:consultoria@monolito.lat">consultoria@monolito.lat</a></p>
      <p>&copy; 2025 Todos los derechos reservados</p>
    </div>
    
    <div class="footer-social">
        <p>¡Síguenos en nuestras redes!</p>
      <div class="social-icons-footer">
        <a href="https://wa.me/5215643939397" target="_blank" title="WhatsApp">
          <i class="fab fa-whatsapp"></i>
        </a>
        <a href="https://www.instagram.com/monolitoingenieria/" target="_blank" title="Instagram">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="https://www.x.com/Monolito_Ing/" target="_blank" title="x.com">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="mailto:consultoria@monolito.lat" title="Correo electrónico">
          <i class="far fa-envelope"></i>
        </a>
      </div>
      <div class="dmca-badge">
        <a href="//www.dmca.com/Protection/Status.aspx?ID=9119aef2-a242-43b7-86f1-d2a5bb4a5a6c" title="DMCA.com Protection Status">
          <img src="https://images.dmca.com/Badges/DMCA_logo-std-btn140w.png?ID=9119aef2-a242-43b7-86f1-d2a5bb4a5a6c" loading="lazy" width="141" height="53" alt="DMCA.com Protection Status">
        </a>
        <script defer src="https://images.dmca.com/Badges/DMCABadgeHelper.min.js"></script>
      </div>
    </div>
  </div>
</footer>