<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title | default("My Site") }}</title>
  <meta name="description" content="{{ description | default('Default description') }}">

  <!-- Dynamic canonical URL (auto-generates based on page URL)
  <link rel="canonical" href="{{ site.url }}{{ page.url | replace('/index.html', '/') }}" />
  <!-- Option for manual override in front matter -->
  {% if canonicalUrl %}
  <link rel="canonical" href="{{ (page.url or '/') | url }}" />
  {% endif %}
  -->
  
  <link rel="canonical" href="{{ site.url }}{{ page.url | replace('/index.html', '/') }}" />
  
  <link rel="icon" type="image/png" href="/img/favicon-96x96.png" sizes="96x96" />
  <link rel="icon" type="image/svg+xml" href="/img/favicon.svg" />
  <link rel="shortcut icon" href="/img/favicon.ico" />
  <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png" />
  <meta name="apple-mobile-web-app-title" content="Monolito" />
  <link rel="manifest" href="/img/site.webmanifest" />

  {% block styles %}{% endblock %}
 
  <link rel="preconnect" href="https://images.dmca.com" crossorigin>
  
  <link rel="stylesheet" href="{{ site.css.main | url }}" media="print" onload="this.media='all'">
  <noscript><link rel="stylesheet" href="{{ site.css.main | url }}"></noscript>
  {% if site.css.critical %}
    <link rel="stylesheet" href="{{ site.css.critical | url }}">
  {% endif %}
  
  <link rel="stylesheet" href="/css/katex.min.css">
  <script src="/js/katex.min.js" defer></script>
  <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.22/dist/contrib/auto-render.min.js" integrity="sha384-hCXGrW6PitJEwbkoStFjeJxv+fSOOQKOPbJxSfM6G5sWZjAyWhXiTIIAmQqnlLlh" crossorigin="anonymous"
    onload="renderMathInElement(document.body);"></script>

    <script>
    document.addEventListener("DOMContentLoaded", function() {
        renderMathInElement(document.body, {
          // customised options
          // • auto-render specific keys, e.g.:
          delimiters: [
              {left: '$$', right: '$$', display: true},
              {left: '$', right: '$', display: false},
              {left: '\\(', right: '\\)', display: false},
              {left: '\\[', right: '\\]', display: true}
          ],
          // • rendering keys, e.g.:
          throwOnError : false
        });
    });
</script>
  <style>
    .katex {
    font: normal 1.21em KaTeX_Main,Times New Roman,serif;
    font-style: normal;
    line-height: normal;
    line-height: 0;
    text-indent: 0px;
    text-rendering: geometricprecision;
    }
  </style>
  <link rel="preload" href="/img/logo.webp" as="image" imagesrcset="/img/logo.webp" imagesizes="100vw">
  <link rel="preload" href="/img/logo-blanco.webp" as="image" imagesrcset="/img/logo-blanco.webp" imagesizes="100vw">


  {% if metaTags %}
    {{ metaTags | safe }}
  {% endif %}

</head>
<body>
  {% include "header.njk" %}
  
  <main>
  {% block content %}{% endblock %}
  </main>

  {% include "footer.njk" %}

{% for script in site.scripts %}
  <script src="{{ script.src }}" {% if script.defer %}defer{% endif %}></script>
{% endfor %}




  {% if pageScripts %}
    {{ pageScripts | safe }}
  {% endif %}
</body>
</html>